<ion-header>
  <ion-navbar color='primary'>
    <ion-title>{{ listName | placeholder:'Nueva Lista'}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-label floating>Nombre de Lista</ion-label>
        <ion-input type="text" [(ngModel)]="listName"></ion-input>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label floating>Item</ion-label>
        <ion-input (keyup.enter)='add()' type="text" [(ngModel)]="itemName"></ion-input>
      </ion-item>
      <button ion-button class='button-block' (click)='add()'>Agregar</button>
    </ion-card-content>

  </ion-card>

  <ion-card *ngIf="items.length > 0">
    <ion-card-header>
      <h3>Items agregados</h3>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of items; let i= index;">
          <button ion-button color='dark' clear> {{item.name}} </button>
          <button ion-button outline item-right color='danger' clear>
            <ion-icon ios="ios-trash-outline" (click)='delete(i)' md="md-trash"> </ion-icon>
            </button>
        </ion-item>
      </ion-list>
    </ion-card-content>

  </ion-card>

  <button (click)='saveList()' ion-button icon-left class='button-block' name="button">
     <ion-icon ios="ios-add-circle-outline" md="md-add-circle"></ion-icon>
     Agregar lista </button>
</ion-content>
