<ion-header>
  <ion-navbar color='primary'>
    <ion-title>Pendientes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid *ngIf="(_wishList.lists | pendients:false).length === 0">
    <ion-row>
      <ion-col class='text-center empty-box'>
        <ion-icon ios="ios-sunny" md="md-sunny"></ion-icon>
        <p> Actualmente no hay ninguna lista.</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngFor="let list of _wishList.lists | pendients:false, let i=index; ">
    <ion-item color='dark' (click)='seeDetails(list, i)'>
      <h2> {{ list.name }}</h2>
      <ion-note item-right>
        {{ list.items.length }} items
      </ion-note>
    </ion-item>

    <ion-list>
      <ion-item *ngFor="let item of list.items | slice:0:2" (click)='seeDetails(list, i)'>
        <ion-icon *ngIf="!item.completed" ios="ios-square-outline" md="md-square-outline"></ion-icon>
        <ion-icon *ngIf="item.completed" ios="ios-checkbox-outline" md="md-checkbox-outline"></ion-icon>
        {{ item.name}}
      </ion-item>
      <ion-item class='text-center' *ngIf="list.items.length > 2  ">
        <ion-icon color='primary' ios="ios-arrow-dropdown-circle-outline" md="md-arrow-dropdown-circle"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-fab right bottom>
    <button ion-fab color='primary' (click)='goAdd()'><ion-icon name="ios-add-outline"></ion-icon></button>
  </ion-fab>

</ion-content>
